# Pandas

- 데이터 분석용 오픈소스 라이브러리
- R보다 Pandas 가 학습이 좋고, 성능이 빠르다.
- [주요 자료형]
  - Series    : index 와 value 로 이루어진 데이터 타입
  - DataFrame : index 와 column, value 로 이루어진 데이터 타입
    - 데이터 프레임은 여러개의 Seires 의 모음이다.
    - 하나의 컬럼에는 하나의 데이터 타입만 사용 가능하다.

In [3]:
import pandas as pd
import numpy as np

### 1. Series

In [5]:
# 벨류만 입력되면 인덱스는 자동으로 설정 된다. 
s = pd.Series(np.random.randint(10, size=5))
s

0    5
1    6
2    2
3    5
4    2
dtype: int32

In [73]:
# 인덱스를 직접 설정
# 인덱스는 자료형간 병합을 할때 인덱스를 기준으로 동일 row 를 찾는다.
s = pd.Series(np.random.randint(10, size=5), index=list("ABCDE"))
print(s)
s.index, s.values

A    0
B    6
C    7
D    6
E    3
dtype: int32

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([0, 6, 7, 6, 3]))

In [74]:
# 인덱스를 이용한 호출
s['B'], s['A'], s.C, s.D

(6, 0, 7, 6)

In [75]:
# 브로드캐스팅
s = s * 10
s

A     0
B    60
C    70
D    60
E    30
dtype: int32

In [76]:
# reset_index 를 한다면?
print(s[1:3])
s.sort_values(ascending=False, inplace=True)

print("\n", s.reset_index(), "\n")

# reset_index 이후 1번 항목은 50으로 변경된다.
print(s[1:3])

B    60
C    70
dtype: int32

   index   0
0     C  70
1     B  60
2     D  60
3     E  30
4     A   0

B    60
D    60
dtype: int32

In [78]:
# index 가 사용되는 예제
# 브로드 캐스팅시 인덱스를 기준으로 데이터 병합이 일어남

m1 = pd.Series({"A":10, "B":20, "C":30, "D":40})
m2 = pd.Series({"B":20, "D":40}) # B,D 값만 더해짐
m3 = m1 + m2
print(m3)

A     NaN
B    40.0
C     NaN
D    80.0
dtype: float64

In [79]:
# True = Seires 
# True 인 대상 타겟에 m1 의 데이터를 대입하는데. 인덱스를 기준으로 대입 됨.
m3[m3.isna()] = m1
print(m3)

A    10.0
B    40.0
C    30.0
D    80.0
dtype: float64