# 빅분기 실기요약

## 1. 필답형 10문제 - 총 30점

### <span style="color:red">이상치 (Outlier)</span>
관측된 데이터 범주에서 일반적인 데이터 값의 범위를 벗어난 값을 말한다.  
데이터 이상값은 분석 결과에 나쁜 영향을 끼칠 수 있으므로,  
상한보다 높으면 상한값으로 대체하고, 하한보다 낮으면 하한값으로 대체하는 방법으로 처리 할 수 있다.

※ **결측값(Missing Value)** : 필수 데이터가 입력되지 않고 누락 된 값.
데이터 결측값의 유형

|종류|특징과 예시|
|:--|:--|
|완전무작위결측(MCAR)|다른 변수와 무관하게 발생한 결측 값|
|무작위결측(MAR)|결측값이 다른 변수와 연관성이 있으나 결측값이 결과분포에 영향을 미치지 않는 경우.|
|비무작위결측(NMAR))|결측값이 다른 변수와 연관이 있으면서 결측값이 결과분포에 영향을 미치는 경우. |

### <span style="color:red">평균대치법 (mean imputation)</span>
결측 값을 대체하는 방법중 다중 대치법의 하나로. 평균 중위수, 최빈값등의 대표값으로 결측치를 대체하는 방법이다.


#### [결측치처리방법]

1. 단순대치법 (simple imputation)  
특정 대표값(임의의 지정 값 또는 평균및 최빈값등)으로 결측치를 대체하는 기법.  </br>


2. 다중대치법 (multiple imputation)  
여러번의 단순 대치법을 통해 결측값이 대체된 여러개의 데이터를 생성한 뒤, 해당 다수의 데이터를 통계분석하는 방법이다.
  - 완전분석법 : 불완전 자료는 모두 무시하고 완전히 관측된 자료만 사용하는 방법
  - 평균대치법 : 결측치를 평균, 중위수, 최빈값등 대푯값으로 대체하여 사용하는 방법
  - 단순확률대치법 : 평균대치법 + 적절한 확률값 부여 대치. (표준오차 과소추정 문제를 보완함)
    - 핫뎃(Hot-Deck) 대체 : 응답자의 무응답 값을 비슷한 성향을 가진 다른 응답자의 값으로 대체
    - 콜드덱(Cold-Deck) 대체 : 핫데과 방식은 동일하되 외부 출처나 다른 설문조사의 응답값으로 대체
    - 혼합방법 : 여러가지 대체방법을 혼합하는 방식

### <span style="color:red">비지도학습 (Unsupervised learning)</span>
**종속 변수가 포함되지 않은 데이터를 학습** 한다. 예측 문제보다는 <u>현상 설명, 특징 도출, 패턴도출등의 문제를 해결하는데 사용</u>된다.

**※ 지도 학습(Supervised learning)**
정답에 해당 하는 종속 변수가 포함되어 있는 데이터를 학습하여(종속변수와 독립변수간의 관계를 분석하여) 주어진 데이터를 이용해 예측 또는 문제해결을 하는 모델.

|지도학습|비지도학습|
|:--|:--|
|- 회귀분석|- 군집화|
|- 로지스틱회귀분석|- 차원축소|
|- 나이브베이즈|- 연관분석|
|- KNN|- 자율학습 인공신경망|
|- 의사결정나무||
|- 랜덤포레스트||
|- 인공신경망||

### <span style="color:red">부스팅 (Boosting)</span>
예측력이 약한 모형을 순차적으로 결합하여 예측력을 강하게 만드는 앙상블 방법이다.



**[대표적인 부스팅 알고리즘]**
- AdaBoost (Adaptive Boosting)
  먼저 학습한 모형의 오분류된 표본에 높은 가중치를 부여하여 다음 분류에서 보다 더 잘 분류할수 있도록 학습하는 방법.
- GBM(Gradient Boosting Machine)
  AdaBoost 와 유사하나 가중치를 조정할때 경사하강법을 이용하여 최적화를 하는 방법이다.
  
  - **XGBoost**  
  GBM의 단점인 과적합과 높은 학습시간을 보완하기 위해 나온 알고리즘이다.  
  시스템 과점에서는 병렬화와 가지치기를 적용하여 학습시간을 단축시키고,  
  정규화, 결측치 처리, 교차검증 등을 통해 알고리즘을 고도화 시킨다.



<span style="color:blue">**[앙상블의 종류]**</span>
- Voting : 다양한 알고리즘을 사용한 후 결과를 투표에 붙임
  - 하드보팅 : 분류결과가 가장 좋은 모델을 투표.
  - 소프트보팅 : 각 레이블별 확률값을 모두 더한 후 평균을 낸 결과값으로 결정.
- Bagging : 부트스트랩핑된 데이터를 알고리즘에 적용 (e.g 랜덤포레스트)
- Boosting : 약한 학습기를 반복적으로 훈련하여 강한 학습기로 성장시킴. (e.g GBM)

###  <span style="color:red">Gradient Boosting Algorithm</span>
Gradient Boosting ALgorithm (GBM) 은 회귀분석 또는 분류분석을 수행 할 수 있는 예측 모형 알고리즘이다. 앙상블 방법중 부스팅 계열에 해당하며, Tabular format 데이터에 굉장히 높은 성능을 나타낸다. 다만 훈련데이터에 과적합과 많은 학습시간이라는 단점을 보완하기 위하여 아래의 부스팅 알고리즘들이 구현되었다.

**[GBA를 구현한 패키지들]**
- LightGBM
- CatBoost
- XGBoost

### <span style="color:red">하이퍼파라미터</span>
하이퍼파라미터는 모형 외부 요소로 모형의 성능에 간접적인 영향을 미친다. 사용자가 설정하는 값으로 학습 과정에 영향을 주고 학습 결과인 파라미터 값에 영향을 준다.


**하이퍼 파라미터 튜닝 방법**
- 메뉴얼 서치 : 사용자의 직감 또는 경험에 근거하여 하이퍼 파라미터를 조정하는 방법.
- 그리드 서치 : 가능한 모든 조합을 시도하여 최적의 파라미터를 찾는 방법.
- 랜덤 서치 : 지정 범위내 무작위 표본을 추출하여 이를 조합한 최적의 파라미터를 검색하는 방법.

### <span style="color:red">오버피팅 (Over-fitting)</span>

과대적합은 **분석 모형이 학습 데이터에 지나치게 적합하여 일반화 되지 않는 상태**를 말한다.

**[과대적합방지를 위하여]**  
- 학습 데이터 수를 증가 시킨다.(오버샘플링 or 언더샘플링)
- 가중치 규제 : 가중치 값을 제한하여 변수의 수를 줄이는 효과는 만든다.
- 교차검증(Cross Validation)을 통해 과대적합 가능성을 낮춘다.

**※ 과소적합(Under-fitting)**  
분석 모형이 학습 데이터에서 패턴을 충분히 학습하지 못한 상태를 말한다.

## 0.03 -> -1
문제를 알수 없음

### <span style="color:red">후진제거법</span>
변수 선택법중 **래퍼기법(Wrapper Method) 의 세분류중 하나**로. 모든 독립 변수가 포함된 상태에서 **종속 변수에 영향도가 가장 적은 변수부터 하나씩 제거하면서 모형을 선택**하는 방법이다.

|종류|특징|
|:--|:--|
|전진선택법|모든 독립변수중 종속 변수에 영향도가 가장 높은 변수부터 하나씩 추가하여 모형을 선택|
|후진제거법|모든 독립변수가 포함된 상태에서 종속변수에 영향도가 가장 적은 변수부터 하나씩 제거하여 모형을 선택|
|단계적방법|전진 선택법과 후진 제거법을 함께 사용하는 방법|

**※ 변수선택(Feature Selection)**
- 필터기법(Filter Method) : 상관계수를 탐색하여 상관계수가 높은 변수를 선택하는 방법.(통계적 특성을 이용한 선택법)
- 래퍼기법(Wrapper Method) : 변수의 일부만 모델링에 사용하고 그 결과를 확인하는 작업을 반복하면서 변수를 선택하는 방법.
- 임베디드 기법(Embedded Method) : 모델 자체에 변수 선택이 포함된 기법

#### <span style="color:red">ROC-CURVE</span>

ROC곡선은 임계값(Threshold)를 0에서 1까지 변화시켜 가면서 x축에는 **거짓긍정률(FPR))을 y축에는 참 긍정률(TRP)을 표시하여 그린 곡선**이다.

**※ AUC (Area Under the Curve)**  
ROC곡선 아래의 면적을 일컫는 말이며, AUC값이 1에 가까울수록 분류모델의 성능이 좋다고 평가한다.

## 2. 작업형1 3문제 - 총 30점

In [63]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd

df = pd.read_csv('./extrafiles/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

### 문제1
데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,  
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,  
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

In [64]:
# 값을 기준으로 정렬
df.sort_values('f5', ascending=False, inplace=True)
df[:10]['f5'] = df[:10]['f5'].min()
df[:10]['f5']
print(df[df['age']>=80]['f5'].mean())
df

62.497747125217394

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

### 문제2
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,  
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고  
두 표준편차 차이 계산하기

In [66]:
# index 기준으로 재정렬
df.sort_index(inplace=True)

df7 = df[:70]
print(df7['f1'].isna().sum())

df7_bstd = df7['f1'].std()
print(df7_bstd)


df7['f1'].fillna(df7['f1'].median(), inplace=True)
df7_astd = df7['f1'].std()
print(df7_astd)

print(df7_bstd - df7_astd)

23
17.98727579865276
14.690773995256688
3.2965018033960725

### 문제3
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오.  
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [74]:
df['age'].isna().sum()

# 표준편차
df_std = df['age'].std()
df_mean = df['age'].mean()

df_result = df[(df['age'] < df_mean - df_std*1.5) |
               (df['age'] > df_mean + df_std*1.5) ]

df_result['age'].sum()

473.5

## 3. 작업형2 1문제 - 총 40점

## 전자상거래 배송 데이터

### 제품 배송 시간에 맞춰 배송되었는지 예측모델 만들기
학습용 데이터 (X_train, y_train)을 이용하여 배송 예측 모형을 만든 후, 이를 평가용 데이터(X_test)에 적용하여 얻은 예측값을 다음과 같은 형식의 CSV파일로 생성하시오(제출한 모델의 성능은 ROC-AUC 평가지표에 따라 채점)

![](./extrafiles/exam02.png)

[시험용 데이터셋 만들기] 
코드는 예시문제와 동일한 형태의 X_train, y_train, X_test 데이터를 만들기 위함임

(유의사항)

성능이 우수한 예측모형을 구축하기 위해서는 적절한 데이터 전처리, 피처엔지니어링,   
분류알고리즘, 하이퍼파라미터 튜닝, 모형 앙상블 등이 수반되어야 한다.   
수험번호.csv파일이 만들어지도록 코드를 제출한다.
제출한 모델의 성능은 ROC-AUC형태로 읽어드린다.

In [237]:
# 라이브러리 및 데이터 불러오기
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

df = pd.read_csv('./extrafiles/Train.csv', engine='python')
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [238]:
# 결측 확인
df.isna().sum()
# df.isna().any()
# df['Gender'].duplicated() # 동일한 row 를 탐색\

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [239]:
# 이상치 확인
df.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

In [240]:
# 이상치 제거 # Discount_offered, 
# 75% 에서 100% 까지 증가폭이 6.5배이다.

# 1분위수 - 사분위편차*1.5 이상이 정상
# 3분위수 + 사분위편차*1.5 이하가 정상

X_num_25 = df['Discount_offered'].quantile(0.25)
X_num_75 = df['Discount_offered'].quantile(0.75)
X_num_diff = X_num_75 - X_num_25
print(X_num_25 - X_num_diff*1.5, X_num_75 + X_num_diff*1.5)

print("이상치의 개수 : ", len(df[df['Discount_offered'] > X_num_75 + X_num_diff*1.5]))

# 이상치를 제거한 값
# df = df[df['Discount_offered'] < X_num_75 + X_num_diff*1.5]

# 이상치를 대치한 값
df['Discount_offered'][df['Discount_offered'] > X_num_75 + X_num_diff*1.5] = X_num_75 + X_num_diff*1.5


df['Discount_offered']

-5.0 19.0
이상치의 개수 :  2209

0        19
1        19
2        19
3        10
4        19
         ..
10994     1
10995     6
10996     4
10997     2
10998     6
Name: Discount_offered, Length: 10999, dtype: int64

In [241]:
# 이상치 재확인
df.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,8.590963,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,6.095461,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,19.000000,7846.000000,1.000000

In [242]:
# 다중공선성 확인
df.corr()

# 분류분석의 경우 대부분의 경우 다중공선성은 문제되지 않는다.

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,1.000000,0.188998,-0.005722,0.196791,0.145369,-0.620632,0.278312,-0.411822
Customer_care_calls,0.188998,1.000000,0.012209,0.323182,0.180771,-0.133149,-0.276615,-0.067126
Customer_rating,-0.005722,0.012209,1.000000,0.009270,0.013179,-0.001346,-0.001897,0.013119
Cost_of_the_Product,0.196791,0.323182,0.009270,1.000000,0.123676,-0.143876,-0.132604,-0.073587
Prior_purchases,0.145369,0.180771,0.013179,0.123676,1.000000,-0.085184,-0.168213,-0.055515
Discount_offered,-0.620632,-0.133149,-0.001346,-0.143876,-0.085184,1.000000,-0.389933,0.410716
Weight_in_gms,0.278312,-0.276615,-0.001897,-0.132604,-0.168213,-0.389933,1.000000,-0.268793
Reached.on.Time_Y.N,-0.411822,-0.067126,0.013119,-0.073587,-0.055515,0.410716,-0.268793,1.000000

In [243]:
# 컬럼 정보
df.reset_index(inplace=True)
df.columns

Index(['index', 'ID', 'Warehouse_block', 'Mode_of_Shipment',
       'Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product',
       'Prior_purchases', 'Product_importance', 'Gender', 'Discount_offered',
       'Weight_in_gms', 'Reached.on.Time_Y.N'],
      dtype='object')

In [244]:
# 변수선택 (feauture selection) / (독립변수/종속변수 분리)
X_id = df[['ID']]
X_num = df[['Customer_care_calls','Customer_rating', 'Cost_of_the_Product', 
            'Prior_purchases','Discount_offered', 'Weight_in_gms']]

X_cat = df[['Warehouse_block', 'Mode_of_Shipment', 
            'Product_importance', 'Gender']]

y = df[['Reached.on.Time_Y.N']]

In [245]:
# 스케일링 & 더미변수화
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler().fit(X_num)
X_num_sclaed = scaler.transform(X_num)
X_num_sclaed = pd.DataFrame(X_num_sclaed, columns=X_num.columns)
X_num_sclaed

# 더미변수화
X_cat_dummy = pd.get_dummies(X_cat)
X_cat_dummy

,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,0,0,0,1,0,1,0,0,0,1,0,1,0
1,0,0,0,0,1,1,0,0,0,1,0,0,1
2,1,0,0,0,0,1,0,0,0,1,0,0,1
3,0,1,0,0,0,1,0,0,0,0,1,0,1
4,0,0,1,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,1,0,0,0,0,0,0,1,0,0,1,1,0
10995,0,1,0,0,0,0,0,1,0,0,1,1,0
10996,0,0,1,0,0,0,0,1,0,1,0,1,0
10997,0,0,0,0,1,0,0,1,0,0,1,0,1
10998,0,0,0,1,0,0,0,1,0,1,0,1,0

In [246]:
# 데이터 병합
# 대입연산자는 인덱스를 기준으로 Update 하는 명령이다. 때문에 기존 데이터프레임 X의 정보는 남아 있다.
X = pd.concat([X_num_sclaed, X_cat_dummy], axis=1)

# 병합후 생긴 Nan 값 필링
X.fillna(0, inplace=True)

# 데이터 가공 완료
X

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block_A,Warehouse_block_B,Warehouse_block_C,Warehouse_block_D,Warehouse_block_F,Mode_of_Shipment_Flight,Mode_of_Shipment_Road,Mode_of_Shipment_Ship,Product_importance_high,Product_importance_low,Product_importance_medium,Gender_F,Gender_M
0,0.4,0.25,0.378505,0.125,1.000000,0.033893,0,0,0,1,0,1,0,0,0,1,0,1,0
1,0.4,1.00,0.560748,0.000,1.000000,0.304894,0,0,0,0,1,1,0,0,0,1,0,0,1
2,0.0,0.25,0.406542,0.250,1.000000,0.346676,1,0,0,0,0,1,0,0,0,1,0,0,1
3,0.2,0.50,0.373832,0.250,0.500000,0.025712,0,1,0,0,0,1,0,0,0,0,1,0,1
4,0.0,0.25,0.411215,0.125,1.000000,0.216654,0,0,1,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,0.4,0.00,0.728972,0.375,0.000000,0.078451,1,0,0,0,0,0,0,1,0,0,1,1,0
10995,0.4,0.00,0.635514,0.375,0.277778,0.035939,0,1,0,0,0,0,0,1,0,0,1,1,0
10996,0.6,0.75,0.682243,0.375,0.166667,0.022498,0,0,1,0,0,0,0,1,0,1,0,1,0
10997,0.6,0.25,0.593458,0.500,0.055556,0.030533,0,0,0,0,1,0,0,1,0,0,1,0,1
10998,0.0,1.00,0.275701,0.375,0.277778,0.093207,0,0,0,1,0,0,0,1,0,1,0,1,0

In [309]:
# train, test dataset 분리
from sklearn.model_selection import train_test_split

# 종속변수가 카테고리 분류이면 [stratify=True] 를 적용한다.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1234)

In [311]:
# stratify=y 옵션 지정시 동일비율로 분리된다.
y.mean(), y_train.mean(), y_test.mean()

(Reached.on.Time_Y.N    0.596691
 dtype: float64,
 Reached.on.Time_Y.N    0.596678
 dtype: float64,
 Reached.on.Time_Y.N    0.596727
 dtype: float64)

In [312]:
# 모델 학습 - LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=1).fit(X_train, y_train)
pred_train = model.predict_proba(X_train)

# 순서대로 0, 1
pred_train[:, 1]

array([0.29669186, 0.48107429, 0.43150726, ..., 0.36005059, 0.96329258,
       0.51599845])

In [313]:
# 하이퍼파라미터 탐색
print(help(LogisticRegression))

Help on class LogisticRegression in module sklearn.linear_model._logistic:

class LogisticRegression(sklearn.linear_model._base.LinearClassifierMixin, sklearn.linear_model._base.SparseCoefMixin, sklearn.base.BaseEstimator)
 |  LogisticRegression(penalty='l2', *, dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='lbfgs', max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)
 |
 |  Logistic Regression (aka logit, MaxEnt) classifier.
 |
 |  In the multiclass case, the training algorithm uses the one-vs-rest (OvR)
 |  scheme if the 'multi_class' option is set to 'ovr', and uses the
 |  cross-entropy loss if the 'multi_class' option is set to 'multinomial'.
 |  (Currently the 'multinomial' option is supported only by the 'lbfgs',
 |  'sag', 'saga' and 'newton-cg' solvers.)
 |
 |  This class implements regularized logistic regression using the
 |  'liblinear' library, 'newton-cg', 'sag', 'saga' and 'lbfgs' solvers. **Note
 |  that regularization is applied by default**. It can handle both dense
 |  and sparse input. Use C-ordered arrays or CSR matrices containing 64-bit
 |  floats for optimal performance; any other input format will be converted
 |  (and copied).
 |
 |  The 'newton-cg', 'sag', and 'lbfgs' solvers support only L2 regularization
 |  with primal formulation, or no regularization. The 'liblinear' solver
 |  supports both L1 and L2 regularization, with a dual formulation only for
 |  the L2 penalty. The Elastic-Net regularization is only supported by the
 |  'saga' solver.
 |
 |  Read more in the :ref:`User Guide <logistic_regression>`.
 |
 |  Parameters
 |  ----------
 |  penalty : {'l1', 'l2', 'elasticnet', 'none'}, default='l2'
 |      Used to specify the norm used in the penalization. The 'newton-cg',
 |      'sag' and 'lbfgs' solvers support only l2 penalties. 'elasticnet' is
 |      only supported by the 'saga' solver. If 'none' (not supported by the
 |      liblinear solver), no regularization is applied.
 |
 |      .. versionadded:: 0.19
 |         l1 penalty with SAGA solver (allowing 'multinomial' + L1)
 |
 |  dual : bool, default=False
 |      Dual or primal formulation. Dual formulation is only implemented for
 |      l2 penalty with liblinear solver. Prefer dual=False when
 |      n_samples > n_features.
 |
 |  tol : float, default=1e-4
 |      Tolerance for stopping criteria.
 |
 |  C : float, default=1.0
 |      Inverse of regularization strength; must be a positive float.
 |      Like in support vector machines, smaller values specify stronger
 |      regularization.
 |
 |  fit_intercept : bool, default=True
 |      Specifies if a constant (a.k.a. bias or intercept) should be
 |      added to the decision function.
 |
 |  intercept_scaling : float, default=1
 |      Useful only when the solver 'liblinear' is used
 |      and self.fit_intercept is set to True. In this case, x becomes
 |      [x, self.intercept_scaling],
 |      i.e. a "synthetic" feature with constant value equal to
 |      intercept_scaling is appended to the instance vector.
 |      The intercept becomes ``intercept_scaling * synthetic_feature_weight``.
 |
 |      Note! the synthetic feature weight is subject to l1/l2 regularization
 |      as all other features.
 |      To lessen the effect of regularization on synthetic feature weight
 |      (and therefore on the intercept) intercept_scaling has to be increased.
 |
 |  class_weight : dict or 'balanced', default=None
 |      Weights associated with classes in the form ``{class_label: weight}``.
 |      If not given, all classes are supposed to have weight one.
 |
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``.
 |
 |      Note that these weights will be multiplied with sample_weight (passed
 |      through the fit method) if sample_weight is specified.
 |
 |      .. versionadded:: 0.17
 |         *class_weight='balanced'*
 |
 |  random_state : int, RandomState instance, default=None
 |      Used when ``solver`` == 'sag', 'saga' or 'liblinear' to shuffle the
 |      data. See :term:`Glossary <random_state>` for details.
 |
 |  solver : {'newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'},             default='lbfgs'
 |
 |      Algorithm to use in the optimization problem.
 |
 |      - For small datasets, 'liblinear' is a good choice, whereas 'sag' and
 |        'saga' are faster for large ones.
 |      - For multiclass problems, only 'newton-cg', 'sag', 'saga' and 'lbfgs'
 |        handle multinomial loss; 'liblinear' is limited to one-versus-rest
 |        schemes.
 |      - 'newton-cg', 'lbfgs', 'sag' and 'saga' handle L2 or no penalty
 |      - 'liblinear' and 'saga' also handle L1 penalty
 |      - 'saga' also supports 'elasticnet' penalty
 |      - 'liblinear' does not support setting ``penalty='none'``
 |
 |      Note that 'sag' and 'saga' fast convergence is only guaranteed on
 |      features with approximately the same scale. You can
 |      preprocess the data with a scaler from sklearn.preprocessing.
 |
 |      .. versionadded:: 0.17
 |         Stochastic Average Gradient descent solver.
 |      .. versionadded:: 0.19
 |         SAGA solver.
 |      .. versionchanged:: 0.22
 |          The default solver changed from 'liblinear' to 'lbfgs' in 0.22.
 |
 |  max_iter : int, default=100
 |      Maximum number of iterations taken for the solvers to converge.
 |
 |  multi_class : {'auto', 'ovr', 'multinomial'}, default='auto'
 |      If the option chosen is 'ovr', then a binary problem is fit for each
 |      label. For 'multinomial' the loss minimised is the multinomial loss fit
 |      across the entire probability distribution, *even when the data is
 |      binary*. 'multinomial' is unavailable when solver='liblinear'.
 |      'auto' selects 'ovr' if the data is binary, or if solver='liblinear',
 |      and otherwise selects 'multinomial'.
 |
 |      .. versionadded:: 0.18
 |         Stochastic Average Gradient descent solver for 'multinomial' case.
 |      .. versionchanged:: 0.22
 |          Default changed from 'ovr' to 'auto' in 0.22.
 |
 |  verbose : int, default=0
 |      For the liblinear and lbfgs solvers set verbose to any positive
 |      number for verbosity.
 |
 |  warm_start : bool, default=False
 |      When set to True, reuse the solution of the previous call to fit as
 |      initialization, otherwise, just erase the previous solution.
 |      Useless for liblinear solver. See :term:`the Glossary <warm_start>`.
 |
 |      .. versionadded:: 0.17
 |         *warm_start* to support *lbfgs*, *newton-cg*, *sag*, *saga* solvers.
 |
 |  n_jobs : int, default=None
 |      Number of CPU cores used when parallelizing over classes if
 |      multi_class='ovr'". This parameter is ignored when the ``solver`` is
 |      set to 'liblinear' regardless of whether 'multi_class' is specified or
 |      not. ``None`` means 1 unless in a :obj:`joblib.parallel_backend`
 |      context. ``-1`` means using all processors.
 |      See :term:`Glossary <n_jobs>` for more details.
 |
 |  l1_ratio : float, default=None
 |      The Elastic-Net mixing parameter, with ``0 <= l1_ratio <= 1``. Only
 |      used if ``penalty='elasticnet'``. Setting ``l1_ratio=0`` is equivalent
 |      to using ``penalty='l2'``, while setting ``l1_ratio=1`` is equivalent
 |      to using ``penalty='l1'``. For ``0 < l1_ratio <1``, the penalty is a
 |      combination of L1 and L2.
 |
 |  Attributes
 |  ----------
 |
 |  classes_ : ndarray of shape (n_classes, )
 |      A list of class labels known to the classifier.
 |
 |  coef_ : ndarray of shape (1, n_features) or (n_classes, n_features)
 |      Coefficient of the features in the decision function.
 |
 |      `coef_` is of shape (1, n_features) when the given problem is binary.
 |      In particular, when `multi_class='multinomial'`, `coef_` corresponds
 |      to outcome 1 (True) and `-coef_` corresponds to outcome 0 (False).
 |
 |  intercept_ : ndarray of shape (1,) or (n_classes,)
 |      Intercept (a.k.a. bias) added to the decision function.
 |
 |      If `fit_intercept` is set to False, the intercept is set to zero.
 |      `intercept_` is of shape (1,) when the given problem is binary.
 |      In particular, when `multi_class='multinomial'`, `intercept_`
 |      corresponds to outcome 1 (True) and `-intercept_` corresponds to
 |      outcome 0 (False).
 |
 |  n_iter_ : ndarray of shape (n_classes,) or (1, )
 |      Actual number of iterations for all classes. If binary or multinomial,
 |      it returns only 1 element. For liblinear solver, only the maximum
 |      number of iteration across all classes is given.
 |
 |      .. versionchanged:: 0.20
 |
 |          In SciPy <= 1.0.0 the number of lbfgs iterations may exceed
 |          ``max_iter``. ``n_iter_`` will now report at most ``max_iter``.
 |
 |  See Also
 |  --------
 |  SGDClassifier : Incrementally trained logistic regression (when given
 |      the parameter ``loss="log"``).
 |  LogisticRegressionCV : Logistic regression with built-in cross validation.
 |
 |  Notes
 |  -----
 |  The underlying C implementation uses a random number generator to
 |  select features when fitting the model. It is thus not uncommon,
 |  to have slightly different results for the same input data. If
 |  that happens, try with a smaller tol parameter.
 |
 |  Predict output may not match that of standalone liblinear in certain
 |  cases. See :ref:`differences from liblinear <liblinear_differences>`
 |  in the narrative documentation.
 |
 |  References
 |  ----------
 |
 |  L-BFGS-B -- Software for Large-scale Bound-constrained Optimization
 |      Ciyou Zhu, Richard Byrd, Jorge Nocedal and Jose Luis Morales.
 |      http://users.iems.northwestern.edu/~nocedal/lbfgsb.html
 |
 |  LIBLINEAR -- A Library for Large Linear Classification
 |      https://www.csie.ntu.edu.tw/~cjlin/liblinear/
 |
 |  SAG -- Mark Schmidt, Nicolas Le Roux, and Francis Bach
 |      Minimizing Finite Sums with the Stochastic Average Gradient
 |      https://hal.inria.fr/hal-00860051/document
 |
 |  SAGA -- Defazio, A., Bach F. & Lacoste-Julien S. (2014).
 |      SAGA: A Fast Incremental Gradient Method With Support
 |      for Non-Strongly Convex Composite Objectives
 |      https://arxiv.org/abs/1407.0202
 |
 |  Hsiang-Fu Yu, Fang-Lan Huang, Chih-Jen Lin (2011). Dual coordinate descent
 |      methods for logistic regression and maximum entropy models.
 |      Machine Learning 85(1-2):41-75.
 |      https://www.csie.ntu.edu.tw/~cjlin/papers/maxent_dual.pdf
 |
 |  Examples
 |  --------
 |  >>> from sklearn.datasets import load_iris
 |  >>> from sklearn.linear_model import LogisticRegression
 |  >>> X, y = load_iris(return_X_y=True)
 |  >>> clf = LogisticRegression(random_state=0).fit(X, y)
 |  >>> clf.predict(X[:2, :])
 |  array([0, 0])
 |  >>> clf.predict_proba(X[:2, :])
 |  array([[9.8...e-01, 1.8...e-02, 1.4...e-08],
 |         [9.7...e-01, 2.8...e-02, ...e-08]])
 |  >>> clf.score(X, y)
 |  0.97...
 |
 |  Method resolution order:
 |      LogisticRegression
 |      sklearn.linear_model._base.LinearClassifierMixin
 |      sklearn.base.ClassifierMixin
 |      sklearn.linear_model._base.SparseCoefMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, penalty='l2', *, dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='lbfgs', max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None)
 |      Fit the model according to the given training data.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          Training vector, where n_samples is the number of samples and
 |          n_features is the number of features.
 |
 |      y : array-like of shape (n_samples,)
 |          Target vector relative to X.
 |
 |      sample_weight : array-like of shape (n_samples,) default=None
 |          Array of weights that are assigned to individual samples.
 |          If not provided, then each sample is given unit weight.
 |
 |          .. versionadded:: 0.17
 |             *sample_weight* support to LogisticRegression.
 |
 |      Returns
 |      -------
 |      self
 |          Fitted estimator.
 |
 |      Notes
 |      -----
 |      The SAGA solver supports both float64 and float32 bit arrays.
 |
 |  predict_log_proba(self, X)
 |      Predict logarithm of probability estimates.
 |
 |      The returned estimates for all classes are ordered by the
 |      label of classes.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Vector to be scored, where `n_samples` is the number of samples and
 |          `n_features` is the number of features.
 |
 |      Returns
 |      -------
 |      T : array-like of shape (n_samples, n_classes)
 |          Returns the log-probability of the sample for each class in the
 |          model, where classes are ordered as they are in ``self.classes_``.
 |
 |  predict_proba(self, X)
 |      Probability estimates.
 |
 |      The returned estimates for all classes are ordered by the
 |      label of classes.
 |
 |      For a multi_class problem, if multi_class is set to be "multinomial"
 |      the softmax function is used to find the predicted probability of
 |      each class.
 |      Else use a one-vs-rest approach, i.e calculate the probability
 |      of each class assuming it to be positive using the logistic function.
 |      and normalize these values across all the classes.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Vector to be scored, where `n_samples` is the number of samples and
 |          `n_features` is the number of features.
 |
 |      Returns
 |      -------
 |      T : array-like of shape (n_samples, n_classes)
 |          Returns the probability of the sample for each class in the model,
 |          where classes are ordered as they are in ``self.classes_``.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.linear_model._base.LinearClassifierMixin:
 |
 |  decision_function(self, X)
 |      Predict confidence scores for samples.
 |
 |      The confidence score for a sample is proportional to the signed
 |      distance of that sample to the hyperplane.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape (n_samples, n_features)
 |          Samples.
 |
 |      Returns
 |      -------
 |      array, shape=(n_samples,) if n_classes == 2 else (n_samples, n_classes)
 |          Confidence scores per (sample, class) combination. In the binary
 |          case, confidence score for self.classes_[1] where >0 means this
 |          class would be predicted.
 |
 |  predict(self, X)
 |      Predict class labels for samples in X.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape (n_samples, n_features)
 |          Samples.
 |
 |      Returns
 |      -------
 |      C : array, shape [n_samples]
 |          Predicted class label per sample.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True labels for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of ``self.predict(X)`` wrt. `y`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClassifierMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.linear_model._base.SparseCoefMixin:
 |
 |  densify(self)
 |      Convert coefficient matrix to dense array format.
 |
 |      Converts the ``coef_`` member (back) to a numpy.ndarray. This is the
 |      default format of ``coef_`` and is required for fitting, so calling
 |      this method is only required on models that have previously been
 |      sparsified; otherwise, it is a no-op.
 |
 |      Returns
 |      -------
 |      self
 |          Fitted estimator.
 |
 |  sparsify(self)
 |      Convert coefficient matrix to sparse format.
 |
 |      Converts the ``coef_`` member to a scipy.sparse matrix, which for
 |      L1-regularized models can be much more memory- and storage-efficient
 |      than the usual numpy.ndarray representation.
 |
 |      The ``intercept_`` member is not converted.
 |
 |      Returns
 |      -------
 |      self
 |          Fitted estimator.
 |
 |      Notes
 |      -----
 |      For non-sparse models, i.e. when there are not many zeros in ``coef_``,
 |      this may actually *increase* memory usage, so use this method with
 |      care. A rule of thumb is that the number of zero elements, which can
 |      be computed with ``(coef_ == 0).sum()``, must be more than 50% for this
 |      to provide significant benefits.
 |
 |      After calling this method, further fitting with the partial_fit
 |      method (if any) will not work until you call densify.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

None

In [355]:
# 성능 평가
from sklearn.metrics import roc_auc_score
print("모델성능 : ", model.score(X_train, y_train))
print("AUC SCORE : ", roc_auc_score(y_train, pred_train[:,1]))
print("AUC SCORE with Decision Function: ", roc_auc_score(y_train, model.decision_function(X_train)))

# 분류 레포트
from sklearn.metrics import classification_report
print(classification_report(y_train, model.predict(X_train)))

모델성능 :  0.6393502242696084
AUC SCORE :  0.7216885182211907
AUC SCORE with Decision Function:  0.7216885182211907
              precision    recall  f1-score   support

           0       0.55      0.54      0.55      3327
           1       0.70      0.70      0.70      4922

    accuracy                           0.64      8249
   macro avg       0.62      0.62      0.62      8249
weighted avg       0.64      0.64      0.64      8249

In [343]:
# 일반화 성능을 위해 교차검증을 수행
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
kfold = KFold(n_splits=5, random_state=1234, shuffle=True)

score = cross_val_score(LogisticRegression(), X_train, y_train, cv=kfold)
score.mean()

0.635107925832001

In [323]:
# test 기준으로 pred 를 잘라보자
pred_test = model.predict_proba(X_test)
pred_test[:, 1]

array([0.69929654, 0.63713738, 0.44845004, ..., 0.55512301, 0.92429278,
       0.27948571])

In [335]:
# 예측값과 test 데이터의 ID 를 결합하자.
X_test.index
result = pd.merge(X_test, X_id, how='left', left_on = X_test.index, right_on = X_id.index)
result.reset_index(inplace=True)

In [361]:
# 파일저장
result = pd.DataFrame({'ID':result['ID'], 'PRED':pred_test[:, 1]})
result.to_csv("003000789.csv", index=False)
result

         ID      PRED
0      7213  0.699297
1      7221  0.637137
2      4638  0.448450
3      2710  0.838595
4      8162  0.471247
...     ...       ...
2745   7235  0.345584
2746  10258  0.226637
2747  10468  0.555123
2748   2446  0.924293
2749  10535  0.279486

[2750 rows x 2 columns]

**[소감]**

- 최종 결과를 프로그램으로 확인하기 위해서는 ID 값이나 Index 값이 흐트러진 상태면 곤란하다.
- 때문에 Test 데이터를 미리 셋팅하여(순열로 정리하여) 제공하며, ID와 정확도를 순서대로 작성 하여 제출 하여야 한다.
- 회귀 문제가 출제될 가능 성은?!?
  - 응시가이드에 제2유형은 평가지표에 따른 구간별 점수를 획득 한다. 라고 적혀있음
  - 구간별 점수라 하면 ROC_AUC 말고 RMSE 나 MAE 등도 가능함 - 전체 답변에 대한 점수를 산출해야함.
  - 그렇다면 평균값이면 다 대체가능한듯